.article_list {

}

.article_view {
	border-bottom: 1px solid black;
	padding: $gutter;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&:last-child {
		border-bottom: 0;
	}

	.article_view_name {
		margin-bottom: 0;
	}

	.article_view_authors, .article_view_topics {
		list-style: none;
		padding: 0;
		display: flex;
		margin: $gutter / 2 0;
		flex-wrap: wrap;
	}

	.article_view_event {
		margin: 0;
	}

	.article_view_author {
		&::before {
			content: '-';
			display: inline-block;
			padding: 0 $gutter;
		}

		&:first-child::before {
			display: none;
		}
	}

	.article_view_topic {
		background: rgba($gray-C, 0.8);
		border-radius: 10px;
		padding: 5px $gutter;
		margin-right: $gutter;
		margin-bottom: $gutter;

		&:last-child {
			margin-right: 0;
		}
	}

	.article_view_grade {
		font-size: 3rem;
		text-align: center;
	}

	.grade, .over {
		margin: 0;
	}

	.over {
		border-top: 3px solid black;
	}
}
