Source/*/nbproject/private/
Source/*/build/
Source/*/nbbuild/
Source/*/dist/
Source/*/nbdist/
Source/*/.nb-gradle/
/PresentacionWeb/nbproject/private/
/PresentacionWeb/build/
/PresentacionWeb/dist/