/Source/ModelSidecar/nbproject/private/
/Source/WSAutenticacion/nbproject/private/
/Source/WSEventos/nbproject/private/
/Source/WSPeerCheck/nbproject/private/
/Source/WSPersistencia/nbproject/private/
/Source/WSRevisiones/nbproject/private/
/Source/WSUsuarios/nbproject/private/
/Source/WSEvents/nbproject/private/
/Source/WSEvents/build/
/Source/WSEvents/dist/
/Source/WSReviews/nbproject/private/