/Source/ModelSidecar/nbproject/private/
/Source/WSAutenticacion/nbproject/private/
/Source/WSEventos/nbproject/private/
/Source/WSPeerCheck/nbproject/private/
/Source/WSPersistencia/nbproject/private/
/Source/WSRevisiones/nbproject/private/
/Source/WSUsuarios/nbproject/private/
/Source/ModelSidecar/dist/
/Source/ModelSideCar/build/
/Source/ModelSideCar/dist/
/Source/ModelSidecar/build/
/Source/TestClient/nbproject/private/
/Source/TestClient/build/
/Source/WSUsers/nbproject/private/
/Source/WSUsers/build/
/Source/WSAuthentication/nbproject/private/
/Source/WSAuthentication/build/
/Source/WSUsers/dist/
/Source/TestClient/dist/
/WSArticles/nbproject/private/
/WSArticles/build/
/WSArticles/dist/
/Source/WSAuthentication/dist/
