extends ../templates/base

append config
	-title= 'Evento'

block nav
	include ../components/navbar

block footer
	include ../components/footer

block main
	.maincontent
		h1.event_name Algoritmos
		h4.event_editor David Villamizar
		section.acordeon
			h2.acordeon_title Articulos publicados
			section.acordeon_content.article_list#event_2_articles_published
		section.acordeon
			h2.acordeon_title Articulos en revision
			section.acordeon_content.article_list#event_2_articles_review
			

block script
	| createArticleView("#event_2_articles_published", "Algoritmos", "Porgramación avanzada en c++", ["Sebatian Bobadilla", "Juan Manuel Sánchez"], ["Algoritmos", "Programación", "C++", "Análisis", "Investigación", "Desarrollo"], 4.5);
	| createArticleView("#event_2_articles_published", "Algoritmos", "Programación dinamica vs Algoritmos voraces", ["Juan Manuel Sánchez", "David villamizar"], ["Algoritmos", "Programación", "C++", "Análisis", "Investigación", "Programación dinamica", "Algoritmos voraces", "Complejidad"], 4.7);
	| createArticleView("#event_2_articles_review", "Algoritmos", "Porgramación avanzada en c++", ["Sebatian Bobadilla", "Juan Manuel Sánchez"], ["Algoritmos", "Programación", "C++", "Análisis", "Investigación", "Desarrollo"], -1);
	| createArticleView("#event_2_articles_review", "Algoritmos", "Programación dinamica vs Algoritmos voraces", ["Juan Manuel Sánchez", "David villamizar"], ["Algoritmos", "Programación", "C++", "Análisis", "Investigación", "Programación dinamica", "Algoritmos voraces", "Complejidad"], -1);
