extends ../templates/base

append config
	-title= 'Registrarse'

block footer
	include ../components/footer

block main
	section.cover
		section.cover_data
			a(href="index.html")
				img(src="resources/svgs/document.svg").logo_x200
			form(action='' method='post' autocomplete='off').form
				fieldset
					input(type='text' name='name' required autofocus)#name
					label(for='name') Nombres y apellidos
				fieldset
					input(type='email' name='email' required)#email
					label(for='email') Correo
				fieldset
					input(type='date' name='date' required)#date
					label(for='date') Fecha de nacimiento
				fieldset
					input(type='password' name='password' required)#password
					label(for='password') Contraseña
				section.form-group
					button(type='submit') Registrarme
					button(type='reset') Borrar
				.form-group
					label
			section.cover_links.cover_center
				a(href="login.html").cover_link Ingresar
