nav.navbar
	section.navbar_header
		img(src="resources/svgs/document.svg").logo_x40
		h3 Peercheck
	section.navbar_finder
		include ../components/search_bar
	section.navbar_profile
		h5 Nombre de usuario
		img(src="resources/svgs/document.svg").logo_x40
